<div class="row full-width">
  <div class="columns">
    
    <div class="page-content">
      <div class="rte-content colored-links">
	      {{ page.content }}
	    </div>
    </div>

  </div>
</div>